[Unit]
Description=Hot Standby Demo Flask App
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=simple
User=www-data
Environment=NODE_NAME=cysecVM1(/VM2)
Environment=DB_HOST=127.0.0.1
Environment=DB_PORT=5432
Environment=DB_NAME=postgres
Environment=DB_USER=appuser
Environment=DB_PASS=appadmin
ExecStart=/usr/bin/python3 /opt/cysec_demo/app.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
